header  > h1{
    color:green;
    text-align: center;
}
main > h2{
    text-align: center;
}
main h2 a{
color:red;
font-size: 20px;
}
main h2 > a:hover{
color:purple;
}
main > section{
    text-align: center;
}
body{
    background-color: black;
}